/*===============================================block 區塊====================================*/
/*block歸零*/
.block{ clear:both;}
.block .block_title{ clear:both;}
.block .block_content{ clear:both;}
.block:last-child{margin-bottom:0px;}

/*空結構*/
.block_1{ padding:0px 10px; margin-bottom:10px;}

/*block_2 基礎架構*/
.block_2{}
.block_2 .block_title{background:#a6d8f5;}
.block_2 .block_title h2{ height:35px; line-height:38px; padding-left:10px; color:#fff; text-shadow:0px 1px 3px rgb(141, 190, 218); letter-spacing:1px;}
.block_2 .block_title h2 i{ margin-right:5px; font-size:21px;}
.block_2 .block_content{ padding:10px;}

/*block_3 block_title有圖*/
.block_3{ margin-bottom:0; padding:15px 10px; background:#d4efff;}
.block_3 .block_title{ border-top:1px solid #3a99cf; border-left:1px solid #3a99cf; border-right:1px solid #3a99cf; border-radius:3px 3px 0px 0px; overflow:hidden; letter-spacing:1px;}
.block_3 .block_title p.pic{ width:100%; max-width:768px; text-align:center; background:#000;}
.block_3 .block_title p.pic a{}
.block_3 .block_title p.pic a img{ width:100%; height:auto;}
.block_3 .block_title h3{ height:35px; background:#3a99cf;}
.block_3 .block_title h3 a{ display:block; height:35px; line-height:35px; padding-left:10px; color:#fff; }
.block_3 .block_content{padding:15px 10px; background:#fff; border-left:1px solid #3a99cf; border-right:1px solid #3a99cf; border-bottom:1px solid #3a99cf; border-radius:0px 0px 3px 3px;}

/*============================================元件  開始==================================================*/
 
/*part_list_1 熱門新聞列表====================*/
.part_list_1{clear:both;}
.part_list_1 h3{ min-height:40px; padding-top:8px; padding-left:35px; counter-increment:iNo; border-bottom:1px solid #eee; position:relative;}
.part_list_1 h3:last-child{ border-bottom:0px;}
.part_list_1 h3::after{ display:block; width:28px; height:28px; content:counter(iNo); line-height:32px; text-align:center; font-size:14px; color:#fff; background:#a6d8f5; position:absolute; top:6px; left:0px; border-radius:50%;}
.part_list_1 h3 a{}

/*part_list_2 各主題新聞列表====================*/
.part_list_2{ clear:both;}
.part_list_2 h3{ min-height:30px; padding-top:4px; padding-left:15px; position:relative;}
.part_list_2 h3::after{ display:block; width:10px; height:10px; content:""; line-height:32px; text-align:center; background:#a6d8f5; position:absolute; top:10px; left:0px; border-radius:50%;}
.part_list_2 h3 a{}

/*part_pictxt_1 新聞列表====================*/
.part_pictxt_1{ clear:both;}
.part_pictxt_1 .piece{ padding-bottom:8px; margin-bottom:8px; border-bottom:1px solid #CACACA;}
.part_pictxt_1 .piece:last-child{ margin-bottom:0px; padding-bottom:0px; border-bottom:0px;}
.part_pictxt_1 .piece a.pic{ display:block; width:100px; height:75px; float:left; margin-right:15px; text-align:center; overflow:hidden; background:#fff; border:1px solid #eee;}
.part_pictxt_1 .piece a img{ width:auto; height:100%;}
.part_pictxt_1 .piece p.tag{}
.part_pictxt_1 .piece p.tag i[class^="fa"]{ margin-right:5px;}
.part_pictxt_1 .piece p.tag a{ margin-right:5px;}
.part_pictxt_1 .piece p.tag a:last-child{ margin-right:0px;}
.part_pictxt_1 .piece h3{}
.part_pictxt_1 .piece h3 a{}
.part_pictxt_1 .piece p.summary{ display:none; line-height:25px;}

/*768*/
@media only screen and (min-width:768px){
	.part_pictxt_1 .piece p.summary{ display:block;}
	.part_pictxt_1 .piece a.pic{ width:200px; height:150px;}
	.part_pictxt_1 .piece h3{ margin-bottom:10px;}
}

/*subject_columnist 專欄作者列表====================*/
.part_pictxt_2{ clear:both;}
.part_pictxt_2 .piece{ margin-bottom:10px; padding:10px; background:#f5fafd;}
.part_pictxt_2 .piece .box_1{ width:100px; float:left; margin-right:10px; }
.part_pictxt_2 .piece .box_1 a.pic{ display:block; width:100px; height:100px; text-align:center; overflow:hidden; background:#fff; position:relative; border:1px solid #eee;}
.part_pictxt_2 .piece .box_1 a.pic img{ width:auto; height:100%; position:absolute;  top:50%; left:50%; transform: translate(-50%,-50%); }

.part_pictxt_2 .piece .box_2{ margin-left:110px;}
.part_pictxt_2 .piece .box_2 h3{}
.part_pictxt_2 .piece .box_2 p{}
.part_pictxt_2 .piece .box_2  a.btn_more{}
.part_pictxt_2 .piece .box_2 a.btn_more{ display:block; height:30px;line-height:32px; color:#fff; text-align:center; background:#a6d8f5; box-shadow:0px 2px 0px #93c3de; border-radius:5px;}
.part_pictxt_2 .piece .box_2 a.btn_more:hover{ background:#56a9d8;}

.part_pictxt_2 .piece .box_3{ display:none;}
.part_pictxt_2 .piece .box_3 h3{ line-height:25px; margin-bottom:5px;}
.part_pictxt_2 .piece .box_3 h3:last-child{ margin-bottom:0px;}
.part_pictxt_2 .piece .box_3 h3 a{}

/*768*/
@media only screen and (min-width:768px){
	.part_pictxt_2 .piece{ width:49%; float:left; margin-right:2%; margin-bottom:15px;}
	.part_pictxt_2 .piece:nth-child(2n-2){margin-right:0px;}
	.part_pictxt_2 .piece .box_2  a.btn_more{ margin-bottom:10px;}
	.part_pictxt_2 .piece .box_3{ clear:both; display:block; padding-top:5px; border-top:2px dotted #9acbe8;  }
}
/*part_pictxt_3 專欄文章列表====================*/
.part_pictxt_3{ clear:both;}
.part_pictxt_3 .piece{ margin-bottom:10px; padding:10px; border:1px solid #ddeef7;}
.part_pictxt_3 .piece:hover{ background:#f2f8fb;}
.part_pictxt_3 .piece p.pic{ width:100px; height:75px; float:left; margin-right:5px; text-align:center; overflow:hidden; background:#fff; border:1px solid #eee;}
.part_pictxt_3 .piece p.pic img{ width:auto; height:100%; }
.part_pictxt_3 .piece h3{}
.part_pictxt_3 .piece h3 a{}
.part_pictxt_3 .piece p.summary{ clear:both; display:none;  color:#424c54;}

/*768*/
@media only screen and (min-width:768px){
	.part_pictxt_3 .piece{width:49%; margin-right:2%; float:left; margin-bottom:15px;}
	.part_pictxt_3 .piece:nth-child(2n-2){ margin-right:0px;}
	.part_pictxt_3 .piece p.pic{ margin-bottom:10px;}
	.part_pictxt_3 .piece p.summary{ display:block;}
}

/*subject_columnist 作者介紹====================*/
.subject_columnist{ clear:both; margin-bottom:10px; padding:10px; background:#f2fcff; border-bottom:2px solid #8ac6e8; position:relative;}
.subject_columnist p.pic{ max-width:300px; height:300px; margin-bottom:15px; text-align:center; overflow:hidden; background:#fff; position:relative; border:5px solid #fff; box-shadow: 0px 0px 1px rgba(0,0,0,0.5); border:1px solid #eee;}
.subject_columnist p.pic img{ width:auto; height:100%; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
.subject_columnist h1{ height:40px; line-height:40px;}
.subject_columnist a.btn_more{ display:block; width:90%; height:30px; margin-right:5%; line-height:32px; text-align:center; color:#fff; font-size:13px; background:#a6d8f5; border-radius:5px; position:absolute; right:0px; bottom:10px;}
.subject_columnist a.btn_more i[class^="fa"]{ margin-right:5px;}
.subject_columnist a.btn_more:hover{ color:#346582;}
.subject_columnist p.story{ margin-bottom:40px;}

/*414*/
@media only screen and (min-width:375px){
	.subject_columnist  p.pic{ width:120px; height:120px; float:left; margin-right:10px; margin-bottom:0px; overflow:hidden;}
	.subject_columnist a.btn_more{}
	.subject_columnist  p.story{ margin-left:130px;}
}

/*768*/
@media only screen and (min-width:768px){
	.subject_columnist  p.pic{ width:200px; height:200px;}
	.subject_columnist a.btn_more{ width:110px; margin-right:0px; top:10px; right:10px;}
}

/*menu_pager 分頁====================*/

.menu_pager{ text-align:center; margin-top:15px; margin-bottom:15px;}
.menu_pager span{display:inline-block; width:30px; height:30px; overflow:hidden; line-height:32px; margin-right:5px; font-size:24px; border-radius:3px; vertical-align:bottom; }
.menu_pager span.disabled{ background:#eee; color:#999;  }
.menu_pager span.current{  background:lightblue; color:#fff; font-size:16px;}

.menu_pager a{ display:inline-block; width:30px; height:30px; overflow:hidden; line-height:32px;  margin-right:5px; border-radius:3px; vertical-align:bottom;}
.menu_pager a.next{background:#56a9d8; color:#fff; font-size:24px;}
.menu_pager a:hover{ background:#ddeef7}
.menu_pager a.next:hover{background:#3487c8;}
.menu_pager p{ margin-top:10px;}

/*768*/
@media only screen and (min-width:768px){
	.menu_pager span{ width:35px; height:35px;}
	.menu_pager a{ width:35px; height:35px;}
}


/*===========================================subject news 新聞內頁========================================*/
.subjcet_article{ padding:0px 10px;}
.subjcet_article h1.title{ color:#1577b2;}
.subjcet_article .date{ font-size:13px; line-height:35px; color:#666;}
.subjcet_article .story{margin-top:15px; margin-bottom:15px; clear:both;}
.subjcet_article .story p{margin-bottom:15px; line-height:25px;}
.subjcet_article .story img{ display:block; max-width:100%; height:auto; box-shadow: 0px 0px 1px rgba(0,0,0,0.5);}

/*768*/
@media only screen and (min-width:768px){
	.subjcet_article .icon_adult{ width:36px; height:70px; background-size:36px auto;}
	.subjcet_article .icon_print{ display:inline-block}
	.subjcet_article .story{margin-top:20px; margin-bottom:20px;}
}

/*operate_1操作============================*/
.subjcet_article .operate_1{ clear:both; height:65px; margin-bottom:10px; position:relative;}
.subjcet_article .operate_1 .social { height:30px; margin-right:10px; position:absolute; bottom:0px; left:0px;}
.subjcet_article .operate_1 .social a{ display:inline-block; width:40px; height:30px; background:url(../images/icon_social_01.jpg) no-repeat center top / 45px 120px; border-radius:3px;}
.subjcet_article .operate_1 .social a.fb{ background-position:center 0px;}
.subjcet_article .operate_1 .social a.line{ background-position:center -30px;}
.subjcet_article .operate_1 .social a.gplus{ background-position:center -60px;}
.subjcet_article .operate_1 .social a.weibo{ background-position:center -90px;}

/*fb分享、按讚==========*/
.subjcet_article .operate_1 .fb-like{ display:block; position:absolute; bottom:40px; left:0px;}
.subjcet_article .operate_1 .fb-share-button{ display:block; position:absolute; bottom:40px; left:80px;}

/*成人標誌*/
.subjcet_article .operate_1 .icon_adult{ display:block; width:18px; height:35px; position:absolute; right:95px; bottom:0px; background:url(../images/icon_adult.jpg) no-repeat; background-size:18px auto;}

/*友善列印*/
.subjcet_article .operate_1 .icon_print{ display:none; width:30px; height:30px; position:absolute; bottom:0px; right:36px; background: url(../images/icon_print.png) no-repeat; background-size:30px auto; cursor:pointer;}

/*font_size_switch 改變字的大小*/
.subjcet_article .operate_1 .font_size_switch{ height:30px; position:absolute; right:0px; bottom:0px;}
.subjcet_article .operate_1 .font_size_switch a.size{ display:inline-block; width:25px; height:30px; line-height:30px; text-align:center; border:1px solid #56a9d8; border-radius:5px;}
.subjcet_article .operate_1 .font_size_switch a.size:hover{ background:#56a9d8; color:#ddeef7;}

.subjcet_article .story.size_s { font-size: 15px;}
.subjcet_article .story.size_m { font-size: 18px;}
.subjcet_article .story.size_l { font-size: 21px;}

/*768*/
@media only screen and (min-width:768px){
	.subjcet_article .operate_1{height:32px;}
	.subjcet_article .operate_1 .fb-like{ bottom:0px; left:180px;}
	.subjcet_article .operate_1 .fb-share-button{ bottom:0px; left:257px;}
	.subjcet_article .operate_1 .icon_adult{ width:30px; height:58px; bottom:0px; right:0px; background-size:30px auto;}
	.subjcet_article .operate_1 .icon_print{ display:block;}
	.subjcet_article .operate_1 .font_size_switch{  right:72px;}
}

/*tag_2 文末關鍵字*/
.subjcet_article .tag{ margin-bottom:15px;}
.subjcet_article .tag span{ padding:0px 5px; text-align:center; color:#3487c8;}
.subjcet_article .tag a{}

/*operate_2文末操作==================================*/
.subjcet_article .operate_2{}
.subjcet_article .operate_2 .social {clear: both; width:300px; margin: 0 auto 15px auto;}
.subjcet_article .operate_2 .social a { display: block; width:75px; height:35px;background: url(../images/icon_social_02.jpg) no-repeat left top / 75px 140px;float: left; margin-right: 0px;border-radius: 3px; transform:scale(0.9)}
.subjcet_article .operate_2 .social a.fb {background-position: 0px 0px;}
.subjcet_article .operate_2 .social a.line {background-position: 0px -35px;}
.subjcet_article .operate_2 .social a.youtube {background-position: 0px -70px;}
.subjcet_article .operate_2 .social a.message { background-position: 0px -105px; text-indent:100%; white-space:nowrap; overflow:hidden; margin-right:0px;}
/*768*/
@media only screen and (min-width:600px){
	.subjcet_article .operate_2 .social{ width:315px;  }
	.subjcet_article .operate_2 .social a{ margin-right:5px; transform:scale(1);}
}

/*圖集===============================*/
.gallery_1 { max-width:768px; height:510px; overflow:hidden; margin-bottom:10px;}
.gallery_1 img{ display:none;}
/*外掛歸零*/
.gallery_1 .bx-wrapper{ margin:0px; }
.gallery_1 .bx-wrapper .bx-viewport {border: 0px solid #fff;/*外掛歸零*/ box-shadow: 0 0 0px #ccc;/*外掛歸零*/  left:0px;/*外掛歸零*/}
/*外掛標題*/
.gallery_1 .bx-wrapper .bx-caption{ background:rgba(0,0,0,0.7);}
.gallery_1 .bx-wrapper .bx-caption span{ font-family: Meiryo,"微軟正黑體"; font-size:20px; letter-spacing:1px;}
/*方向*/
.gallery_1 .bx-wrapper .bx-prev{ }
.gallery_1 .bx-wrapper .bx-next{ }
.gallery_1 .bx-controls .bx-controls-direction .bx-prev{background:url(../images/icon_arrow.png) left center /auto 32px no-repeat; opacity:0.8}
.gallery_1 .bx-controls .bx-controls-direction .bx-next{ background:url(../images/icon_arrow.png) right center /auto 32px  no-repeat; opacity:0.8}
.gallery_1 .bx-wrapper .bx-controls-direction a{ z-index:1;}

/*分頁*/
.gallery_1 .bx-controls .bx-pager{}
.gallery_1 .bx-controls .bx-pager .bx-pager-item{}
.gallery_1 .bx-controls .bx-pager .bx-pager-item a{}

/*piece*/
.gallery_1 .piece{ border:0px solid red;}
.gallery_1 .piece a{}
.gallery_1 .piece a img{ width:100%; height: auto;}

/*480*/
@media only screen and (min-width:480px){
	.gallery_1 .run .piece > a{ width:480px; height:360px;}
}

/*768*/
@media only screen and (min-width:768px){
	.gallery_1 .run .piece > a{ width:768px; height:576px;}
}

/*search_1  搜尋頁=================================*/
.search_1{ padding-top:10px; padding-bottom:5px; margin-bottom:10px; background:#f5fafd;}
.search_1 .keyword{ margin-left:8%; width:70%; height:30px;}
.search_1 .send{ height:30px; background:#eee;}
.search_1 p{ margin-top:10px; text-align:center;}
.search_1 em{ color:#3487c8; }
.search_1 span{ color:#fa6e6e}

/*768*/
@media only screen and (min-width:768px){
	.search_1{ padding:20px;}
	.search_1 .keyword{ margin-left:15%; width:70%;}
}

/*ad_pictxt_1 原生廣告========================*/
.part_pictxt_1 .ad_pictxt_1{ clear:both; margin-bottom:10px; overflow:hidden; position:relative; background:#eff7fb!important;}
.part_pictxt_1 .ad_pictxt_1 .pic{ display:block; width:100px; height:75px; float:left; margin-right:10px;}
.part_pictxt_1 .ad_pictxt_1 .pic img{ width:100px; height:75px; box-shadow:0px 0px 1px rgba(30,25,20,0.5);}
.part_pictxt_1 .ad_pictxt_1 h3{}
.part_pictxt_1 .ad_pictxt_1 .date{ display:none; font-size:13px; color:#999; line-height:30px;}
.part_pictxt_1 .ad_pictxt_1 .tag{ display:inline-block; height:22px; line-height:22px; padding:0px 5px; border-radius:3px; background:#3487c8; font-size:11px; color:#FFF; position:absolute; bottom:5px; right:5px;}

/*768*/
@media only screen and (min-width:768px){
	.part_pictxt_1 .ad_pictxt_1 .pic{ display:block; width:200px; height:150px; float:left; margin-right:10px;}
	.part_pictxt_1 .ad_pictxt_1 .pic img{ width:200px; height:150px; box-shadow:0px 0px 1px rgba(30,25,20,0.5);}
	.part_pictxt_1 .ad_pictxt_1 h3{ padding-top:10px;}
}

/* 廣告 */
.ad_320x50_fixed{ width:320px; text-align:center; display:none; position:fixed; bottom:0; margin:auto; left:0; right:0; z-index:888;}/* 置底橫幅 */
.ad_300x250{ margin:0 auto; width:300px;}/*巨幅*/
.ad_320x50{ margin:0 auto; width:320px;}/*橫幅*/
