/*===============================================layout版型====================================*/
/*topbar*/
.topbar_box{ background:#eee;}
.topbar_box .topbar{ display:none;}
.topbar_box .topbar{ display:none; max-width:768px; height:30px; margin:0 auto; background:#56a9d8;}
.topbar_box .topbar .menu_1{ float:right; margin-right:10px;}
.topbar_box .topbar .menu_1 a{ display:block; line-height:30px; font-size:14px; color:#fff;} 

/*768*/
@media only screen and (min-width:768px){
	.topbar_box .topbar{ display:block;}
}

/*版型============================================================================*/

/*wrapper=============================*/
.wrapper_box{ background:#eee;}
.wrapper_box .wrapper{ clear:both; max-width:768px; margin:0 auto;}
/*container*/
.container{ background:#fff; position:relative; padding-top:10px; border-bottom:1px solid #3a99cf;/*debug:margin出不來*/}
/*footer*/
.footer{ height:160px; background:#3a99cf;}
.footer p{ padding-top:20px; color:#fff; text-align:center;}
/*header=============================*/
.header{ height:65px; background:#fff; position:relative;}
.header h2.logo_health{ width:120px; height:36px; position:absolute; top:15px; left:10px;}
.header h2.logo_health a{display:block; width:120px; height:36px; text-indent:-9999px; background:url(../images/logo_h.png) no-repeat;  background-size:120px 36px;}

/*大於等於480*/
@media only screen and (min-width:480px){
	.header h2.logo_health{ width:150px; height:45px; top:10px;}
	.header h2.logo_health a{  width:150px; height:45px;  background-size:150px 45px;}	
}

/*768*/
@media only screen and (min-width:768px){
	.header{ height:100px;}
	.header h2.logo_health{ width:200px; height:60px; position:absolute; top:20px; left:20px;}
	.header h2.logo_health a{ width:200px; height:60px; background-size:200px 60px;}
}

/*menu_1 社群=======*/
.header .menu_1{ position:absolute; top:20px; right:80px;}
.header .menu_1 a{ display:block; width:32px; height:25px; float:left; margin-left:5px; background-image:url(../images/icon.png); background-size:128px auto; text-indent:-9999px}
.header .menu_1 a:first-child{ margin-left:0px;}
.header .menu_1 a.icon1{ background-position:0px 0px;}
.header .menu_1 a.icon2{ background-position:96px 0px;}
.header .menu_1 a.icon3{ background-position:64px 0px;}
.header .menu_1 a.icon4{ display:none; background-position:32px 0px;}
.header .menu_1 a.icon1:hover{ background-position:0px -25px;}
.header .menu_1 a.icon2:hover{ background-position:96px -25px;}
.header .menu_1 a.icon3:hover{ background-position:64px -25px;}
.header .menu_1 a.icon4:hover{ background-position:32px -25px;}

/*768*/
@media only screen and (min-width:768px){
	.header .menu_1{ top:40px; right:50px;}
	.header .menu_1 a.icon4{ display:block;}
}

/*搜尋================================*/
/*搜尋按鈕*/
.header .btn_search_open{ width:30px; height:30px; background:url(../images/icon_search.png) left top no-repeat; background-size:30px auto; position:absolute; top:17px; right:42px;}
.search .btn_search_close{ width:30px; height:30px; background:url(../images/icon_search.png) no-repeat; background-position:bottom; background-size:30px auto; position:absolute; top:0px; right:2px; z-index:20;}
.search{ width:100%; height:65px; position:fixed; top:-150px; right:0px; z-index:10; background:rgba(154,203,232,0.9);}
/*google自訂搜尋樣式*/
.gsbox{}
.search #cse-search-box{}
.search #cse-search-box .keyword{ display:block; width:200px; height:30px; margin-left:-110px; padding-left:10px;  font-size:16px; -webkit-appearance:none;/*取消ios的預設樣式*/ position:absolute; top:20px; left:50%;  border:1px solid #999; border-radius:5px 0px 0px 5px;}
.search .btn_search_go{ width:30px; height:30px; margin-left:90px; background:url(../images/icon_search.png) left -30px no-repeat; background-size:30px auto;  position:absolute; top:20px; left:50%; text-indent:-9999px;border-radius:0px 5px 5px 0px;}

/*768*/
@media only screen and (min-width:768px){
	.search{ max-width:768px; height:130px; position:absolute; left:50%; margin-left:-384px;}
	.header .btn_search_open{ top:38px; right:13px;}
	.search #cse-search-box .keyword{ top:50px;}
	.search .btn_search_go{ top:50px;}
}

/*.header + .nav_1 水平選單=============*/
.nav_1{ background:#fbfbfb; border-top:3px solid #8ac6e8; border-bottom:1px solid #ddeef7;}
.nav_1 li{ float:left;}
.nav_1 li > a{ display:block; height:35px; line-height:35px; padding:0px 10px; text-align:center;}
.nav_1 li > a.current{ color:#CF2C2F; background:#ffebec;}
.nav_1 li > a:hover{ background:rgba(117,189,224,1); color:#fff;}
.nav_1 li> a + .sub { display:none; width:100px; position:absolute; top:35px; z-index:10; background:#ddeef7;}
.nav_1 li> a + .sub a{ display:none; padding:5px 0px; text-align:center;} 
.nav_1 li> a + .sub a:hover{ background:#9acbe8; color:#fff;}  

/*吸住的那組*/
.nav_1.nav_1_clone{  background:rgba(117,189,224,1);  border-top:3px solid #1F9BE9; border-bottom:0px; box-shadow: 0px 1px 5px 0px rgba(169,169,169,0.8); }
.nav_1.nav_1_clone li > a{ color:#fff;}
.nav_1 li > a.current{ color:#CF2C2F;}
.nav_1.nav_1_clone li > a:hover{ background:#59afd9;}

/*多組下選寬度*/
.nav_1 li:hover > a + .sub.size1{ width:200px;}
.nav_1 li:hover > a + .sub.size2{}

/**/
@media only screen and (min-width:600px)and (max-width:767px){
	.nav_1.nav_1_clone{ width:100%;}
}

/*768*/
@media only screen and (min-width:768px){
	.nav_1 li{ position:relative;}
	.nav_1 li:hover > a + .sub{ display:block;}
	.nav_1 li> a + .sub a{ display:block;} 
	/*吸住的那組*/
	.nav_1.nav_1_clone{  width:768px; margin:0 auto; border-bottom:0px;}
}

/*side==============================*/        
.side{ width:100%; height:600px;/*開發時用，最後會用js取視窗高*/ background:rgba(221,238,247,1) url(../images/logo_h.png) no-repeat; padding-top:60px; background-size:auto 50px; background-position:center 5px; position:fixed; top:0px; left:100%; z-index:20;}

/*側選單開關======*/
.header .btn_side_open{ width:32px; height:25px; background:url(../images/icon_btn_side.png) left top no-repeat; background-size:32px auto; position:absolute; top:20px; right:5px; text-indent:-9999px;}
.side .btn_side_close{ width:32px; height:25px; background:url(../images/icon_btn_side.png) left -25px no-repeat; background-size:32px auto; position:absolute; top:20px; right:5px; text-indent:-9999px; display:none;}

/*768*/
@media only screen and (min-width:768px){
	.btn_side_open{ display:none;}
}

/*iscroll滾動目標*/
.side .inner{  width:100%; height:100%; max-width:768px; margin:0 auto; overflow:hidden;/*iscroll*/ position:relative;}
.side .inner .iScrollVerticalScrollbar{ top:0px!important; width:20px!important; /*軌道*/}
.side .inner .iScrollVerticalScrollbar .iScrollIndicator { background:rgba(0,0,0,0.5)!important;/*拉把*/}

/*iscroll滾動的內容*/
.side .inner .run{ padding-right:20px;}

/*.side >.nav_2 垂直選單========*/         
.side .nav_2{}
.side .nav_2 li{ width:100%; }
.side .nav_2 li>a{ display:block; height:40px; line-height:40px; color:#fff; text-align:center; background:rgba(86,169,216,0.8);}
.side .nav_2 li>.sub{ background:rgba(255,255,255,0.8);}
.side .nav_2 li>.sub a{ display:block; width:50%; height:45px; float:left; line-height:45px; text-align:center; border-right:1px solid #ddeef7; border-bottom:1px solid #ddeef7;}
.side .nav_2 li>.sub a:nth-child(2n-2){ border-right:0px;}
.side .nav_2 li>.sub a:nth-last-of-type(1):nth-of-type(2n),.nav_2 li>.sub a:nth-last-of-type(2):nth-of-type(2n+1){border-bottom:0px;}
.side .nav_2 li>.sub a:nth-last-of-type(1):nth-of-type(2n+1){border-bottom:0px;}
.side .nav_2 li>.sub a:nth-last-of-type(2):nth-of-type(2n+1){border-bottom:0px;}
