@charset "utf-8";
@import url("html5reset-1.6.1.css");  /*歸零*/
@import url("font-awesome.css"); 
@import url("global.css"); /*整體設定*/
@import url("layout.css");/*版型*/
@import url("block.css");/*區塊 元件*/
@import url("page.css"); /*備用 特殊需求*/ 
@import url("print.css"); /*友善列印*/ 